
@page "/purchase/detailpurchase"


@using AppForSEII2526.Web.API
@using Microsoft.AspNetCore.Authorization

@inject AppForGymAPIClient apiclient
@inject ILogger<SelectItemsForPurchase> logger
@inject PurchaseStateContainer purchaseState
@inject NavigationManager navigation


<h3>Details Purchase</h3>

@attribute [Authorize]

@if (purchase == null)
{
    <p>@error</p>
}
else
{
    <table class="table table-borderless table-sm">
        
        <tr>
            <th>Delivery Address</th>
            <td id="DeliveryAddress">@purchase.Country, @purchase.City, @purchase.Street</td> @*Get delivery address*@
        </tr>
        <tr>
            <th>Payment Method</th>
            <td id="PaymentMethod">@purchase.PaymentMethodId</td>
        </tr>
        <tr>
            <th>Description</th>
            <td id="Description">@purchase.Description</td>
        </tr>
    </table>

    <h4>Purchased Items</h4>

    <table class="table" id="PurchaseItems">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Brand</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ItemForPurchaseCreateDTO item in purchase.Items)
            {
                <tr id="PurchaseItem_@item.Name">
                    <td>@item.Name</td>
                    <td>@item.Brand</td>
                    <td>@item.Quantity</td>
                    <td>@item.PurchasePrice €</td>
                </tr>
            }
        </tbody>
        <tfoot>
            @*colspan is used to state that TWO columns are collapsed*@
        <th scope="row" colspan="2" class="text-end">Total Price</th>
        <td id="TotalPrice">@purchase.Total_price €</td>
        </tfoot>

    </table>

}

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public int PurchaseID { get; set; }
    private PurchaseDetailDTO purchase;
    private string error = "";

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }


    protected override async Task OnInitializedAsync()
    {

        //we check the user is logged in
        string userName = "";
        if (authenticationState is not null)
        {
            var authState = await authenticationState;
            var user = authState?.User;

            //we retrieve the id of the user logged in
            if (user is not null)
            {
                if (user.Identity is not null && user.Identity.IsAuthenticated && user.IsInRole("User"))
                {
                    userName = user.Identity.Name;
                }
            }
        }

        try
        {
            purchase = await apiclient.GetPurchaseAsync(PurchaseID);
        }
        catch (ApiException exception)
        {
            purchase = null;
        }
        if ((purchase == null) )//|| (purchase.UserNameCustomer != userName))
        {
            error = $"Error! You are not authorized to see this purchase or there is not a purchase with id={PurchaseID}";
        }


    }

}
