@page "/restock/createrestock"

@using AppForSEII2526.Web.API
@using AppForSEII2526.Web.Components.Shared
@inject AppForGymAPIClient apiclient
@inject ILogger<CreateRestock> logger
@inject RestockStateContainer restockState
@inject NavigationManager navigation

<h3>Create Restock</h3>

<EditForm Model="restock" OnValidSubmit="OpenDialog">
    <div class="row">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
    </div>
    <div class="row g-3">
        <div class="col-md">
            <div class="form-floating mb-3">
                <InputText @bind-Value="restock.Title" class="form-control" id="Title" />
                <label for="Title">Title</label>
            </div>
        </div>

        <div class="col-md">
            <div class="form-floating mb-3">
                <InputText @bind-Value="restock.DeliveryAddress" class="form-control" id="Address"/>
                <label for="Address">Address</label>
            </div>
        </div>

        <div class="col-md">
            <div class="form-floating mb-3">
                <InputText @bind-Value="restock.Description" class="form-control" id="Description" />
                <label for="Description">Description</label>
            </div>
        </div>

        <div class="col-md">
            <div class="form-floating mb-3">
                <InputDate @bind-Value="restock.ExpectedDate" class="form-control" id="ExpectedDate" />
                <label for="ExpectedDate">ExpectedDate</label>
            </div>
        </div>

        <div class="col-md">
            <div class="form-floating">
                @*button to ask the user if they want to proceed*@
                <button class="btn btn-primary" type="submit" id="submit">
                    Restock your items
                </button>
            </div>
        </div>
    </div>

    <div class="mh-100 table-responsive">
        <table class="table table-condensed table-hover" id="TableOfRestockItems">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Quantity</th>
                    <th>Price of Restock</th>
                    <th>Quantity To Restock</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in restock.RestockItems)
                {
                    <tr id="ItemData_@item.Id">
                        <td>@restockState.itemInfo[item.Id].Name</td>
                        <td>@restockState.itemInfo[item.Id].Brand</td>
                        <td>@restockState.itemInfo[item.Id].QuantityAvailableForPurchase</td>
                        <td>@restockState.itemInfo[item.Id].RestockPrice</td>
                        <InputNumber @bind-Value="item.RestockQuantity" class="form-control" id="@($"Quantity_{item.Id}")" />
                    </tr>
                }
            </tbody>
        </table>
    </div>
</EditForm>

@if (DialogIsOpen)
{
    <Dialog Caption="Restock items"
        Message="Do you want to proceed to restock the selected items?"
        OnClose="@OnDialogClose"
        Type=Dialog.Category.SaveNot>
    </Dialog>
}

@code {
    private bool DialogIsOpen;

    private object? errors;

    private RestockForCreateDTO restock => restockState.Restock;

    private void OpenDialog()
    {
        DialogIsOpen = true;
    }

    private void OnDialogClose(bool isOk)
    {
        @if (isOk)
        {
            // Proceeds the data introduced by the user
        }
    }
}
