@page "/adminconfiguration"
@inject Services.LanguageServices LanguageServices
@inject Services.FontServices FontServices
@inject Services.ProfileImageServices ProfileImageServices
@using Resources.Languages

<div class="d-flex justify-content-center align-items-center">
    <div class="center">
        <img class="profile-image" src="@ProfileImageServices.GetImageSource()"/>
        <Button Color="ButtonColor.Primary" @onclick="SelectProfileImage">@AppResources.ChangeImageButton</Button>
        
        <div class="row" sytle="margin-top: 20px">
            <h4>@AppResources.TextOptionsSubTitle</h4>
            <label for="font">@AppResources.FontSelector</label>
            <select name="font" id="font" class="form-select configuration-select"
                    @bind="FontServices.CurrentFontClass" @bind:after="changeFont">
                <option value="font-open-sans" hidden="@notlatin" disabled="@notlatin">Open sans</option>
                <option value="font-roboto-light" hidden="@notlatin" disabled="@notlatin">Roboto Light</option>
                <option value="font-roboto-italic" hidden="@notlatin" disabled="@notlatin">Roboto Italic</option>
                <option value="font-roboto-condensed" hidden="@notlatin" disabled="@notlatin">Roboto Condensed</option>
                <option value="font-play-fair" hidden="@notlatin" disabled="@notlatin">Play fair</option>
                <option value="font-noto-sans-jp" hidden="@notjapanese" disabled="@notjapanese">Noto sans (jp)</option>
            </select>
        </div>

        <div class="row" style="margin-top: 20px">
            <label for="language">@AppResources.LanguageSelector</label>
            <select name="language" id="language" class="form-select configuration-select"
                    @bind="LanguageServices.CurrentLanguage" @bind:after="changeLanguage">
                <option value="es">Español</option>
                <option value="en">English</option>
                <option value="ja">日本語</option>
            </select>
        </div>

        <div class="row" style="margin-top: 20px">
            <h4>@AppResources.Widget</h4>
            <CheckboxInput Label="@AppResources.RestockWidgetOption" @bind-Value="wRestock"/>
            <CheckboxInput Label="@AppResources.NotificationWidgetOption" @bind-Value="wNotification"/>

        </div>
  </div>

</div>
@code {
    bool notlatin => LanguageServices.CurrentLanguage != "es" && LanguageServices.CurrentLanguage != "en";
    bool notjapanese => LanguageServices.CurrentLanguage != "ja";
    private bool wRestock
    {
        get { return Preferences.Get("wRestock", true); }
        set { Preferences.Set("wRestock", !wRestock); StateHasChanged(); }
    }

    private bool wNotification
    {
        get { return Preferences.Get("wNotification", true); }
        set { Preferences.Set("wNotification", !wNotification); StateHasChanged(); }
    }


    public void changeLanguage()
    {
        LanguageServices.SetLanguage(LanguageServices.CurrentLanguage);
        if(LanguageServices.CurrentLanguage == "ja")
        {
            FontServices.SetFont("font-noto-sans-jp");
        }
        StateHasChanged();
    }

    public void changeFont()
    {
        FontServices.SetFont(FontServices.CurrentFontClass);
        StateHasChanged();
    }

    public async Task SelectProfileImage()
    {
        await ProfileImageServices.LoadImage();
        StateHasChanged();
    }
}
