@page "/"
@inject Services.LanguageServices LanguageServices
@using Resources.Languages

    <div class="language-selector">
            <img alt="Español" src="Images/Flag-Spain.jpg" class="language-image" 
                @onclick="@(() => LanguageServices.SetLanguage("es"))">
            <img alt="English" src="Images/Flag-UK.jpg" class="language-image"
                @onclick="@(() => LanguageServices.SetLanguage("en"))">
        </div>
    <div class="center">
        <h1>@AppResources.WelcomeMessage</h1>
        
        <!--
        <select style="float: right"
            @onchange="@(e => LanguageServices.SetLanguage(e.Value?.ToString() ?? "es"))">
            <option value="es">Español</option>
            <option value="en">English</option>
        </select>
        -->
        <img alt="Here goes the Logo" src="Images/logo.png" class="logo">
        <button class="light-home-buttons" @onclick="IrLogin"> @AppResources.LoginButton</button>
        <button class="light-home-buttons" @onclick="IrRegister"> @AppResources.RegisterButton</button>

        <select>
            <option value="font-roboto-light">Roboto Light</option>
            <option value="font-roboto-thin">Roboto Thin</option>
            <option value="font-roboto-italic">Roboto Italic</option>
        </select>
    </div>


@code {
    [Inject] NavigationManager Nav { get; set; }
    bool ShowLan = true;

    void IrLogin() => Nav.NavigateTo("/Counter");
    void IrRegister() => Nav.NavigateTo("/weather");

    void ToggleLan()
    {
        ShowLan = !ShowLan;
    }
}